<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img alt="logo app" src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Forgot password?</div>
            <div class="mt-0.5 font-medium">Fill the form to reset your password</div>

            <!-- Alert -->
            <fuse-alert
                *ngIf="showAlert"
                [@shake]="alert.type === 'error'"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                class="mt-8 -mb-4">
                {{alert.message}}
            </fuse-alert>

            <!-- Forgot password form -->
            <form
                #forgotPasswordNgForm="ngForm"
                [formGroup]="forgotPasswordForm"
                class="mt-8">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        [formControlName]="'email'"
                        id="email"
                        matInput>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    (click)="sendResetLink()"
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button>
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send reset link
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary">
                    <span>Return to</span>
                    <a
                        [routerLink]="['/sign-in']"
                        class="ml-1 text-primary-500 hover:underline">sign in
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
