<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img alt="logo app" src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign in</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account?</div>
                <a
                    [routerLink]="['/sign-up']"
                    class="ml-1 text-primary-500 hover:underline">Sign up
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                *ngIf="showAlert"
                [@shake]="alert.type === 'error'"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                class="mt-8 -mb-4">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                #signInNgForm="ngForm"
                [formGroup]="signInForm"
                class="mt-8">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        [formControlName]="'email'"
                        id="email"
                        matInput>
                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        #passwordField
                        [formControlName]="'password'"
                        id="password"
                        matInput
                        type="password">
                    <button
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        mat-icon-button
                        matSuffix
                        type="button">
                        <mat-icon
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                            class="icon-size-5"></mat-icon>
                        <mat-icon
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                            class="icon-size-5"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'rememberMe'">
                        Remember me
                    </mat-checkbox>
                    <a
                        [routerLink]="['/forgot-password']"
                        class="text-md font-medium text-primary-500 hover:underline">Forgot password?
                    </a>
                </div>

                <!-- Submit button -->
                <button
                    (click)="signIn()"
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button>
                    <span *ngIf="!signInForm.disabled">
                        Sign in
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
